<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} | NG Kawaii Crafts</title>
    <link rel="stylesheet" href="/main.css">
    <script src="/assets/js/main.js" ></script>
  </head>
  <body>
    <div id="banner-container">
      <div>
        <img src="/assets/images/bird_left.png" class="left-align"/>
      </div>
      <div>
        <img src="/assets/images/banner_smaller.png" />
      </div>
      <div>
        <img src="/assets/images/bird_right.png" class="top-align" />
      </div>
    </div>
    <nav>
      <div>
        {% if page.title == "Drawings" %}
        <img src="/assets/images/draw_icon.png" alt="Drawings">
        {% else %}
        <a href="/"><img src="/assets/images/draw_icon.png" alt="Drawings"></a>
        {% endif %}
      </div>
      <div>
        {% if page.title == "Sculptures" %}
        <img src="/assets/images/sculpt_icon.png" alt="Sculptures">
        {% else %}
        <a href="/sculptures.html"><img src="/assets/images/sculpt_icon.png" alt="Sculptures"></a>
        {% endif %}
      </div>
      <div>
        {% if page.title == "Lampwork" %}
        <img src="/assets/images/lampwork_icon.png" alt="Lampwork">
        {% else %}
        <a href="/lampwork.html"><img src="/assets/images/lampwork_icon.png" alt="Lampwork"></a>
        {% endif %}
      </div>
      <div>
        {% if page.title == "About" %}
        <img src="/assets/images/about_icon.png" alt="About">
        {% else %}
        <a href="/about.html"><img src="/assets/images/about_icon.png" alt="About"></a>
        {% endif %}
      </div>
      <!--
      <div><img src="/assets/images/lampwork_icon.png" alt="Lampwork"></div>
      <div><img src="/assets/images/about_icon.png" alt="About"></div>
      -->
      <div id="nav-filler"></div>
      <div><a href="https://www.etsy.com/shop/ngkawaiicrafts/"><img src="/assets/images/etsy_icon_notext.png" alt="Etsy shop"></a></div>
      <div><a href="https://www.instagram.com/ngkawaiicrafts/"><img src="/assets/images/insta_icon_notext.png" alt="Instagram"></a></div>
      <div><a href="https://www.facebook.com/ngkawaiicrafts"><img src="/assets/images/fb_icon_notext.png" alt="Facebook"></a></div>
      <div><a href="https://www.youtube.com/@angiesculpts8851"><img src="/assets/images/YT_icon_notext.png" alt="Youtube"></a></div>
    </nav>
    <section>
      {{ content }}
    </section>
  </body>
</html>