<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} | NG Kawaii Crafts</title>
    <link rel="stylesheet" href="/main.css">
    <script src="/assets/js/main.js" ></script>
  </head>
  <body>
    <div id="banner-container">
      <div>
        <img src="/assets/images/bird_left.png" class="left-align"/>
      </div>
      <div>
        <img src="/assets/images/banner_smaller.png" />
      </div>
      <div>
        <img src="/assets/images/bird_right.png" class="top-align" />
      </div>
    </div>
    <nav>
      {% if page.title == "Drawings" %}
      Drawings
      {% else %}
      <a href="/">Drawings</a>
      {% endif %}
      {% if page.title == "Sculptures" %}
      Sculptures
      {% else %}
      <a href="/sculptures.html">Sculptures</a>
      {% endif %}
      <span>
        <a href="https://www.etsy.com/shop/ngkawaiicrafts/">Etsy</a>
        <a href="https://www.instagram.com/ngkawaiicrafts/">Instagram</a>
      </span>
    </nav>
    <section>
      {{ content }}
    </section>
  </body>
</html>