<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} | NG Kawaii Crafts</title>
    <link rel="stylesheet" href="/main.css">
    <script src="/assets/js/main.js" ></script>
  </head>
  <body>
    <div id="banner-container">
      <div>
        <img src="/assets/images/bird_left.png" class="left-align"/>
      </div>
      <div>
        <img src="/assets/images/banner_smaller.png" />
      </div>
      <div>
        <img src="/assets/images/bird_right.png" class="top-align" />
      </div>
    </div>
    <nav>
      <div>
        {% if page.title == "Drawings" %}
        <img src="/assets/images/draw_icon.png">
        {% else %}
        <a href="/"><img src="/assets/images/draw_icon.png"></a>
        {% endif %}
      </div>
      <div>
        {% if page.title == "Sculptures" %}
        <img src="/assets/images/sculpt_icon.png">
        {% else %}
        <a href="/sculptures.html"><img src="/assets/images/sculpt_icon.png"></a>
        {% endif %}
      </div>
      <div id="nav-filler"></div>
      <div><a href="https://www.etsy.com/shop/ngkawaiicrafts/"><img src="/assets/images/etsy_icon.png"></a></div>
      <div><a href="https://www.instagram.com/ngkawaiicrafts/"><img src="/assets/images/insta_icon.png"></a></div>
    </nav>
    <section>
      {{ content }}
    </section>
  </body>
</html>